.oh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: 768px) {
        margin-right: 10em;
    }

    &__h {
        flex-basis: 60%;

        @media (min-width: 768px) {
        flex-basis: 30%;
        }
    }

}

.counter {
    max-width: 90%;
}