@import 'variables';
@import 'header';
@import 'footer';
@import 'coffee';
@import 'menu';
@import 'home';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
}

h3 {
    font-size: 1.75em;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    width: 95%;
    @media (min-width: 768px) {
        width: 80%;
        
    }
}
